<header>
    <div class="header-content">
<a href="{{ path('home') }}">
    <img src="{{ asset('img/img_etincelle_home-removebg-preview.png') }}" alt="Logo de Sparkles">
</a>
        <a class =" h1-title href" ="{{ path('home') }}">Sparkles</a>
        <nav class="social-icons">
        <a href="https://www.linkedin.com/in/oph%C3%A9lie-f-109a1a61/" alt="Lien pour linkedin"><i class="fa-brands fa-linkedin"></i></a>
            {# <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a> #}
            <a href="{{ path('favorite_list') }}" alt="Accés aux Favoris"><i class="fa-solid fa-heart"></i></a>
        </nav>
    </div>
</header>
