<header>
    <div class="header-content">
        <img class="image-logo" src="{{ asset('img/img_etincelle_home-removebg-preview.png') }}" alt="Logo de L'Étincelle">
        <h1>L'Étincelle</h1>
        <nav class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="{{ path('favorite_list') }}"><i class="fa-solid fa-heart"></i></a>
        </nav>
    </div>
</header>
