{# templates/product/available.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Produits disponibles{% endblock %}

{% block body %}
    <h1>Produits disponibles</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }} EUR</li>
        {% endfor %}
    </ul>

    <a href="{{ path('product_new') }}" class="btn btn-primary">Ajouter un nouveau produit</a>
{% endblock %}
