{# templates/emails/appointment_rejected.html.twig #}
<p>Bonjour {{ appointment.user.firstName }},</p>
<p>Nous vous informons que votre demande de rendez-vous pour le {{ appointment.datetime|date('d/m/Y H:i') }} a été refusée.</p>
<p>Pour plus d'informations, n'hésitez pas à nous contacter.</p>
<p>Cordialement,</p>
<p>L'équipe de gestion</p>
