<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profil Modifié</title>
</head>
<body>
    <h1>Votre profil a été modifié</h1>
    <p>Votre profil a été mis à jour avec succès. Vous pouvez consulter votre profil ici : <a href="{{ url }}">Voir mon profil</a></p>
</body>
</html>
