<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue !</title>
</head>
<body>
    <h1>Bienvenue sur notre site, {{ user.firstName }} !</h1>

    <p>Merci de vous être inscrit. Nous espérons que vous apprécierez votre expérience avec nous.</p>

    <p>Cordialement,<br>L'équipe</p>
</body>
</html>
