<p>Bonjour,</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe :</p>

<a href="{{ url }}">Réinitialiser mon mot de passe</a>

<p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>

<p>Cordialement,</p>
<p>L'équipe de votre application</p>
