{% extends 'base.html.twig' %}

{% block title %}Nous Contacter
{% endblock %}

{% block importmap %}
	{{ importmap(['app']) }}
{% endblock %}

{% block body %}
	<div class="contact-page">
		<h1 class="contact-title">Nous Contacter</h1>

		<div class="contact-info">
			<h2 class="contact-info-title">Informations Contact</h2>

			<ul class="contact-info-list">
				<li>Adresse: 1234 Main St, City, State, ZIP</li>
				<li><a href="mailto:contact@sparkles.nnao.fr">contact@sparkles.nnao.fr</a></li>
				<li>Téléphone: (123) 456-7890</li>
			</ul>
		</div>
	</div>
{% endblock %}
