{% extends 'base.html.twig' %}
{% block title %}Condition d'utilisation
{% endblock %}

{% block importmap %}
	{{ importmap(['app']) }}
{% endblock %}

{% block body %}
    <h1>Condition d'utilisation</h1>

    <p>Les présentes conditions d'utilisation détaillent les termes et conditions de service de notre site web <a href="https://sparkles.nnao.fr/">https://sparkles.nnao.fr/</a>.</p>
    <p>Tout utilisateur souhaitant utiliser notre site web doit accepter les présentes conditions d'utilisation. Si vous ne souhaitez pas accepter ces conditions, vous ne pouvez pas utiliser notre site web.</p>
    <p>Les conditions d'utilisation peuvent être modifiées à tout moment, sans préavis, pour s'adapter à l'évolution du service ou des changements dans notre offre. Vous devez vous assurer de lire attentivement les nouvelles conditions d'utilisation à chaque visite de notre site web.</p>
    <p>Les conditions d'utilisation s'appliquent à toutes les personnes physiques ou morales qui utilisent notre site web, y compris les utilisateurs, les partenaires, les prestataires de services, les agents d'affaires et les employés. Les conditions d'utilisation ne s'appliquent pas aux personnes qui ne sont pas enregistrées sur notre site web.</p>
    <p>Nous vous recommandons de lire attentivement les conditions d'utilisation avant de vous inscrire sur notre site web. Si vous n'acceptez pas les conditions d'utilisation, vous ne pouvez pas vous inscrire sur notre site web.</p>
    <p>Si vous avez des questions concernant les conditions d'utilisation, vous pouvez nous contacter à l'adresse suivante : <a href="mailto:contact@sparkles.nnao.fr">contact@sparkles.nnao.fr</a>.</p>
    <p>Les conditions d'utilisation sont la propriété exclusive de Sparkles.</p>
{% endblock %}