{% extends 'base.html.twig' %}

{% block body %}
<h1>Paiement du rendez-vous</h1>
<p>ID du rendez-vous : {{ appointment.id }}</p>


<script src="https://js.stripe.com/v3/"></script>
<button id="checkout-button" class="btn btn-primary">Payer maintenant</button>

<script>
    var stripe = Stripe('{{ publicKey }}');
    document.getElementById('checkout-button').addEventListener('click', function () {
        stripe.redirectToCheckout({
            sessionId: '{{ sessionId }}'
        }).then(function (result) {
            // Gestion des erreurs
            if (result.error) {
                alert(result.error.message);
            }
        });
    });
</script>
{% endblock %}
